.cartOrderBlock {
  max-width: 640px;
  margin-left: 15px;
  color: #333;
}

.buttonBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  width: 350px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 20px 10px 20px 0;

  color: #fff;
  font-weight: 700;
  font-size: 20px;

  transition: all ease 0.15s;
  background: #333;
  border-radius: 4px;
  border: none;
}

.lockBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #757575;
}

.lockBlock .span {
  font-size: 14px;
  line-height: 16px;
}

.lock {
  padding: 0 10px;
  font-size: 26px;
}

.button:hover {
  background: #4e4e4e;
}

.textField {
  margin: 20px 0;
}

.input {
  background: #fff;
  width: 100%;
  padding: 20px 10px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #abbbc8;
  transition: all ease 0.15s;
}

.smallInput {
  height: 40px;
  padding: 5px 10px;
}


.input:focus {
  border-color: #1e7ec8;
  outline: 0;
}

.input.inputError {
  background: #fff0f0;
  border-color: #e56363;
  border-width: 1px;
}

.input.inputError::placeholder {
  color: #f59b9b;
}

.input.inputError:hover {
  background: #fff;
}


.label {
  display: flex;
  align-items: baseline;
}

.error {
  color:#e56464;
  font-size: 14px;
  font-weight: 600;
  padding-top: 5px;

}

.conditionsSuccess {
  background: #fff;
  transition: 0.1s all ease-in-out;
}

.conditionsError {
  background: #f2ffaa;
  transition: 0.1s all ease-in-out;
}

.label>input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.label>span {
  display: block;
  align-items: center;
  user-select: none;
}

.label>div {
  padding-left: 5px;
}

.label>span::before {
  cursor: pointer;
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}


.label>input:not(:disabled):not(:checked)+span:hover::before {
  border-color: #b3d7ff;
}

.label>input:not(:disabled):active+span::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}


.label>input:focus:not(:checked)+span::before {
  border-color: #80bdff;
}

.label>input:checked+span::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.label>input:disabled+span::before {
  background-color: #e9ecef;
}

.continue {
  font-weight: 600;
  font-size: 22px;
  padding: 10px 0;
  border-bottom: 1px solid #e6e5e5;
}









.delInfo {
  margin: 25px 0;
}

.delInfo span {
  display: block;
}

.infoRu {
  font-weight: 600;
  margin-bottom: 10px;
}

.contactInfo h4 {
  margin-top: 50px;
}

.delBlock {
  display: flex;
  justify-content: space-between;
}

.delBlock>div {
  margin: 15px 0;
  width: 49.5%;
  border: 1px solid #abbbc8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  transition: ease-in-out 0.15s;
}

.delIconText {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: #333;
  
  transition: ease-in-out 0.15s;
}

.delIcon {
  font-size: 40px;
  margin-bottom: 10px;
  color: #abbbc8;
  transition: ease-in-out 0.15s;
}

.delBlock>div:hover, .delBlock>div.active {
  border: 1px solid #1e7ec8;
}

.delBlock>div.active {
  background: #eff6fb;
  border-width: 2px;
}

.delBlock>div:hover .delIcon, .delBlock>div.active .delIcon {
  color: #1e7ec8;
}


.pulse {
  display: block;
  margin: 3px 5px 0;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #e56464;
  box-shadow: 0 0 0 #e56464;
  animation: pulse 1s ease-out forwards 0s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #e56464;
  }
  70% {
      box-shadow: 0 0 0 5px rgba(204,169,44, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

.hiddenText {
  color: #fe1e00;
  font-size: 14px;
  display: flex;
  align-items: center;
  font-weight: 600;
  margin: 5px 0 0 0;
}


.doubleField {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.doubleField>div:first-child {
  width: 65%;
}

.doubleField>div:last-child {
  width: 34%;
}

.formFieldName {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.formFieldName {
  color: #333;
  font-weight: 600;
}

.header {
  margin: 10px 0;
  color: #333;
}


/*---------------------------------------------------------*/
.success {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.succIcon {
  font-size: 30px;
  color: #53a3e0;
  margin-right: 10px;
}

.succTitle {
  font-weight: 600;
  transition: all ease-in-out 0.1s;
}

.succInfo {
  display: inline-block;
  margin-right: 10px;
}

.success:hover .succTitle, .succChange {
  color: #53a3e0; 
}
/*---------------------------------------------------------*/