.wrapper {
  font-size: 13px;
  min-height: 100%;
  padding: 20px 0;
}

.content {
  max-width: 624px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.links {
  padding: 15px 0;
}

.links a {
  text-decoration: none;
}

.shopName {
  user-select: none;
  font-size: 16px;
}