.content {
  max-width: 970px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: left;
  margin: 50px auto;
}

.content h3 {
  font-weight: 600;
  color: #333;
}

.description * {
  text-align: left;
  font-size: 13px;
  color: #555;
}

.adressAndWorks {
  display: flex;
  justify-content: space-between;
}

.button {
  border: 1px #ababab solid;
  border-radius: 3px;
  text-align: center;
  padding: 8px;
  text-decoration: none;
}

.button:hover {
  background-color: #efefef;
}

.navigation a {
  padding: 10px;
  text-decoration: none;
}

.contacs {
  padding: 20px 0;
}

.shopWrapper {
  background: #ececec;
}

.shopWrapper h2 {
  color: #333;
  padding: 75px 0 30px;
  display: block;
  text-align: center;
}

.img {
  text-align: center;
  margin: 0 auto;
}

.img img {
  width: 970px;
}

.shopDesc {
  width: 970px;
  margin: 0 auto;
  padding: 40px 0;

  display: grid;
  grid-template-columns: 2fr 3fr;

  font-size: 14px;
  color: #555
}

.shopBlock {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.shopH {
  color: #333;
  font-size: 16px;
  font-weight: 700;
}

