.block {
  margin: 70px 0;
  color: #333;
}

.title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

.items {
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  width: 98%;
}

.item {
  width: 185px;
}

.itemTitle {
  font-size: 14px;
  color: #333;
  margin-top: 2px;
}

.item:hover .itemTitle {
  color: #145485;
}


.img img {
  width: 185px;
  height: 185px;
}

.img {
  position: relative;
}

.sale {
  position: absolute;
  top: 5%;
  right: 0px;
  background: #fe9800;
  width: 50px;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price {
  display: flex;
}

.oldPrice {
  margin-left: 5px;
  font-size: 14px;
  color: #757575;
  text-decoration:line-through;
}

.currentPrice {
  font-size: 18px;
  color: #333;
  font-weight: 600;
}

.img {
  display: inline-block;
  overflow: hidden;
}

.img img {
  transition-property: all;
  transition: all ease 0.4s;
}

.img img:hover {
  transform: scale(1.1);
  
}