.hiddenInfo {
  position: absolute;
  transform: scale(0);
}

.hiddenInfo.active {
  transform: scale(1);
  position: relative;
}


.icon {
  font-size: 14px;
  margin-left: 3px;
  margin-bottom: 3px;
}


.infoBlockTitle {
  display: flex;
  align-items: center;
  user-select: none;
}

.infoBlock h6.active {
  color: #333;
}


.infoBlockTitle, .infoBlock h6  {
  font-weight: 600;
  pointer-events: none;
}

.infoBlock {
  cursor: pointer;
  margin: 10px 0;
}

