.content {
  text-align: center;
  box-sizing: border-box;
}

.contentHeader {
  margin: 8px 0 0px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


.shopName {
  margin: 10px 0;
} 

.services {
  display: flex;
  justify-content: right;
}

.serviceItem {
  list-style-type: none;
  padding: 15px 10px;
}
