.favButton {
  border: 1px solid #ccc;
  color: #333;
  margin-top: 10px;
  width: 165px;
  height: 35px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  cursor: pointer;
  user-select: none;
}

.favButton:hover {
  background: #f2f2f2;
  border: 1px solid #bbb;
}

.heart {
  margin-top: 2px;
  margin-right: 6px;
  color: #666;
}

.filledHeart {
  color: #fd8282;
}


.favBlock {
  margin: 30px 0;
}


.favLink {
  width: 70%;
}
